*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

body{
  display: flex;
  flex-direction: column; 
  gap: 50px;
  /* justify-content: space-between; */
  width: auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
 
header nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed; 
  background-color: #A9B7FF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 100px;
  width:100%;
  z-index:100; 
  top: 0;
  right: 0;
  left: 0;
 
}
header .nav2{
  width:1243px;
  height: 100px;
  top: 0;
 
}
header nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  font-weight:400;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}



nav ul a:hover{
  color: #0f1843 ;
  text-decoration: underline;
 }

nav li img{    /* logo */
  width: 90px;
  height:110px ;
  user-select: none;

}
nav li:first-child {
  margin-right: auto;

}
/*  */
nav .help{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  /* background-color: aqua; */

 
}

nav .help a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  color: black;
  /* background-color: aqua; */
}
nav .help i{ 
  font-size: x-large;
 user-select: none;
  color: black;
 

 }  

/*  */
.btnlog{
  background:#1C296C ;
  width: 130px;
  height: 45px;
  border:none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size:18px ;
  color: white ;
  font-weight: 500;

}

button:hover {
  background: #2c40a2;
  transform: translateY(1.5px);
}

nav li .profile{
  width:50px ;
  height:50px ;
  margin-top: 10px;
  user-select: none;
}

nav li .profile:hover{
  transform: translateY(1.5px);
  }
 

.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

  
  /*  Part2 */

  .part2{
    display: flex;
    flex-direction: column;
    height: 1500px;
    margin-top: 0%;
    /* background-color: rgb(136, 138, 188); */
   
  }

  .part2 .hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A9B7FF;
    width: 100%;
    height:35%;
  
   
  
  }

  
 
  .part2 .hero-section   img{
    /* background-color: #1e1f23; */
     /* width: 60%;
     height: 80%; */
     /* align-self: self-end; */
     width: 800px;
     height: 500px;
     margin-top:165px;
     
   }


  .part2 .hero-section  h1{
    font-weight: 800;
    font-size: 45px;
    line-height: 125%;
    color: white;
    margin :0 auto;
    text-shadow: 12px 15px 16px rgba(0,0,0,0.4);

  }

  
  .part2 .About{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #dde1f5;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    /* box-shadow: -20px -20px 50px rgba(0,0,0,0.4); */
    height: 50%;
    width: 95%;
    margin :0 auto;
    margin-top: 14%;
   
 }
 .part2 .About .img1{
  margin-top: -10%;
  margin-left: 5%;
  align-self: self-start;;
  width: 35%;
  height: 30%;
  z-index: 1; 
  
}

 .part2 .About .content{
  display: flex;
  flex-direction: row;
  margin :0 auto;
  height: 80%;
  width: 100%;
  /* background-color: #2c40a2; */


 
}
 
.About .content img{
  width: 90%;
  height: 90%;
 margin-left:5% ;
 user-select: none;
}

.About .rghit {
  display: flex;
  flex-direction: column;
  gap: 5%;
  /* background-color:aqua; */
 
 }

.About .rghit p{
  font-size: medium;
  font-weight: 500;
 
}
.About .rghit h1{
 margin-left: 3%;
  font-size:xx-large;
  font-weight: 700;
}
.About .rghit p{
  margin-left: 7%;

}
.About .rghit ul li {
  margin-left: 7%;
  font-size: medium;
  font-weight: 500;
  
}
.About .rghit ul {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

 .part2 .contact{
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
  background-color: #dde1f5;
  width: 90%;
  height: 10%;
  margin :0 auto;
  margin-top: 8%; 
}

.part2 .contact h1,p{
margin-left: 5%;
} 


   /* Footer */





/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
  flex-direction: row-reverse;
	flex-wrap: wrap;
  /* background-color: #2c40a2; */

}
ul{
	list-style: none;
}
.footer{
	background-color:  #1C296C;
    padding: 50px 0;
}

.footer-col{
   width: 20%;
   padding: 0 15px;
   /* background-color: cornflowerblue; */
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:  cornflowerblue;
  ;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
 footer .row h1 {
  margin-top: 5%;
 font-size:20px;

 
 }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

.row{
  display: flex;
  flex-direction: column;
}
 footer .row h1 {
  margin-top: 5%;
 font-size:20px;

 
 }


}

/*  */
@media(max-width: 800px){
  nav li img{    /* logo */
    width: 80px;
    height:100px ;
  
  }
  .hideOnMobile,nav ul .help{
    display: none;
  }

  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

