*,
*::after,
*::before{
    box-sizing: border-box;
}
body{

  display: flex;
   flex-direction: column;   /*  (footer) عشان لما كنت اعمل فوتر  ظهر لي مسافة بينه وبين اسف ام الصفحة المعوقة */ 
    
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


.btnlog{
    background:#1C296C ;
    width: 130px;
    height: 45px;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:18px ;
    color: white ;
    font-weight: 500;
  
}
.profile{
  width:50px ;
  height:50px ;
  margin-top: 10px;
  user-select: none;
}

.btnlog:hover {
    background-color: #2c40a2;
    transform: translateY(1.5px);
  }


  .wrapper{
    max-width:1500px;
    margin:0 30px ;
   /* background-color: red;    */
  
  }
  
  /* header */
 
  nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#A9B7FF;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 100px;
    z-index:2; 
  
}
.nav2{
  width:1243px;
  height: 100px;
  top: 0;
 
}

  
nav ul{
    margin-right: 30px;
    height: 90%;
      /* background-color: blue;    */
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    
  }
  nav ul a{
    /* font-family: "Poppins", sans-serif; */
    font-weight:550;
    font-size: 20px;
    color: black;
    text-decoration:none;
  
  }

   ul a:hover{
   color:  #3e56cc ; 
   text-decoration: underline;
  }
  

  .loghelp{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  .hmark{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    gap: 10px;
   }

   nav .help a{
    font-weight:550;
    font-size: 20px;
    color: black;
    text-decoration:none;
   }

   nav .help a:hover{
    color: #3e56cc;
    text-decoration:underline;
   }

  .logo{
    width: 90px;
    height:110px ;
    user-select: none;
  }
  .logo .log{
    width: 100%;
    height:100% ;
  }
  
  .mark{
    width: 35px;
    height:35px ;
    user-select: none;
  }
  .mark .mrk{
    width: 100%;
    height:100% ;   
  }

  header{
    background-color: #A9B7FF;
    width: 100%;
    height: 550px;
  }
  

  header .hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:crimson; */
    width: 100%;
    height:500px;
  
  }
 
  /* Jjj */

  .hero-section  img{
   
    width: 800px;
    height: 600px;
    margin-top:40px;
    
   
  }

  .hero-section  h1{
    font-weight: 800;
    font-size: 45px;
    line-height: 125%;
    color: white;
    margin :0 auto;
    text-shadow: 12px 15px 16px rgba(0,0,0,0.4);

  }
  
  .part2{
    /* background-color: rgb(136, 138, 188); */
    margin:130px 50px;
   
  }
  .part2 .About{
    
    background-color:#dde1f5;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    /* box-shadow: -20px -20px 50px rgba(0,0,0,0.4); */
   
 }
 
 .part2 img{
   
    margin-top: -80px;
    margin-left: 100px;
    width: 400px;
    height: 200px;
    z-index: 1; 
    
  }

 

  .About{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    order: 0;

  }

  .About .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
   
  }

  .About .content img{
    width: 500px;
    height: 500px;
   margin-left:50px ;
   margin-top: 20px;
   user-select: none;
  }

  .About .rghit p{
    font-size: medium;
    font-weight: 500;
   
  }
  .About .rghit h1{
   margin-left: 30px;
    font-size:35px;
    font-weight: 700;
  }
  .About .rghit p{
    margin-left: 60px;
    margin-right: 30px;
  }
  .About .rghit ul li {
    margin-left: 50px;
    font-size: medium;
    font-weight: 500;
    direction: none;
    
  }
  .About .rghit ul li p{
    margin-left: 0px;
  }


  

  .part2 .contact{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    background-color: #dde1f5;
    width: 100%;
    height: 200px;
  }

  .part2 .contact h1,p{
    
    margin-left: 100px;
  }


  /* Footer */
 footer{
    /* display: flex;
    align-items: flex-start;
    justify-content: baseline; */
    background-color: #1C296C;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0;
    height: 350px;
  
   }
   footer ul{
    list-style: none;
    
    
   }
   footer ul a{
   text-decoration: none;
   color:white;
    
   }
  
   /* ul a :hover{
    color: #2c40a2;
   } */
  
  
   footer ul li{
    margin: 16px 0;
   }
  
   footer .links-contener{
    display: flex;
    margin-left:300px ;
    margin-top: -180px; 
    /* background-color: brown; */
    /* display: grid; */
    gap: 50px;
    /* grid-template-columns: 3fr 3fr 3fr 2fr; */
   }
  
   footer .logoF{
    width: 150px;
    height:170px;
    /* background-color: aquamarine; */
    margin-left: 80px;
    margin-top: 80px;
    user-select: none;
   }
   footer .logoF img{
    width: 100%;
    height:100% ;
  
   }
  
  
  