*{
    font-family: "Montserrat", sans-serif;
}

body{
    
    margin: 0;
    padding: 0;
    
}

.header{
    height: 2000px;
    width: auto;
    background-color: #A9B7FF;
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.header a{
    text-decoration: none;
    color: #1C296C;

}
.header a:hover{ 
    color:  white; 
    text-decoration: underline; 
   }
.header img{
    margin: 100px 0px 0px 200px;
    align-self:  flex-start;
    margin-top: -80px;
}

.header p{
   font-size: 100px;
   margin: 120px 0px 0px 1800px;
}

.header input {
    background: #1C296C;
    height: 200px;
    margin: 81px 0px 0px 400px;
    font-size: 100px;
    border: #1C296C;
    color: white;
    border-radius: 100px;
    padding: 50px 200px;
}

.header p.c {
    margin: 0px 0px 0px 2950px;
    width: 30000px;
    
}

.header img.ss{
    
    width: 3000px;
    margin: 630px 0px 0px 3100px;
    position: absolute;
}

.header img.dd{
    width: 2000px;
    margin: 900px 0px 0px 3600px;
    z-index: 1;
    position: absolute;
}

.header img.b{
    margin: 100px 0px 0px 200px;
}
.header p.title{
    font-size: 250px;
    font-weight: 600;
    margin: 850px 0px 0px 150px ;
    color:#1C296C;
    text-shadow: 30px 20px 40px ;
    position: absolute;
}
.header p.title1{
    font-size: 250px;
    font-weight: 600;
    margin: 1200px 0px 0px 300px ;
    color:#1C296C;
    text-shadow: 30px 20px 40px ;
    position: absolute;
}
h1.sp{
    font-size: 300px;
    margin: 500px;

}

.border{
    width: 6000px;
    height: 6000px;
    border: 7px solid #BDBDBD;
    margin: 180px;
    border-radius: 20px;
    box-shadow: 3px 2px 50px gray;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.border .a {
    width:3100px;
    height: 200px;
    margin: 450px 0px 0px 100px;
    border:2px solid #BDBDBD ;
    border-radius: 20px;
    padding: 0px 100px;
    font-size: 100px;
    font-weight: 700;
    color: #928d8d;
    z-index: 1;
    position: absolute;
    
}
.border .b{
    width:3100px;
    height: 2000px;
    margin: 220px 0px 0px -105px;
    padding:   200px 100px;
    border:4px solid #BDBDBD ;
    border-radius: 0px 0px 20px 20px;
    
    font-size: 70px;
    font-weight: 700;
    color: #928d8d;
    position:absolute;
    z-index: 1;
    
}
.border .c {
    width:3100px;
    height: 200px;
    margin: 850px 0px 0px 100px;
    border:4px solid #BDBDBD ;
    z-index: 1;
    position: absolute;
    border-radius: 20px 20px 0px 0px ;
    padding: 20px 100px;
    font-size: 70px;
    font-weight: 700;
    color: #928d8d;
    
}

.border .d{
    margin: 5200px 0px 0px 5000px;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    font-size: 80px;
    background-color: #1C296C;
    color: white;
}
.border .border1{
    width: 2400px;
    height: 3043px;
    border: 4px solid #d0d0d0;
    margin: 450px 0px 0px 3500px;
    position: absolute;
    border-radius: 20px;
    
}
.border1 h1{
    font-size: 150px;
    font-weight: 500;
    margin: 150px 0px 120px 80px;
    

}

.border .border1 p{
    font-size: 100px;
    margin: 210px 0px 0px 80px;
}

.border .border1 input {
    width: 2000px;
    height: 200px;
    margin: 100px 0px 0px 100px;
    background-color: #D9D9D9;
    border:#D9D9D9 ;
}

.border .border2{
    width:5600px;
    height: 200px;
    margin: 4000px 0px 0px 100px;
    padding: 30px 0px 60px 100px;
    border:4px solid #E7E7E7 ;
    border-radius: 0px 0px 20px 20px;
    background-color: #E7E7E7;
    font-size: 50px;
    font-weight: 700;
    color: #363535;
    position:absolute;
    z-index: 1;
}
.border .border2 input.a{
    width:5500px;
    height: 500px;
    margin: 0px 0px 0px -106px;
    border:4px solid #E7E7E7 ;
    position:absolute;
    z-index: 2;
    
}
.border .border2 input.dd{
   width: 650px;
   height: 200px;
    margin: 160px 0px 0px 4800px ;
    padding: 0px 0px 0px -30px;
    font-size: 80px;
    background-color: #1C296C;
    color: white;
    
    position: absolute;
    z-index: 3;
}
.border .border2 p{
    margin: 200px 0px 0px 4865px ;
    font-size: 100px;
    font-weight:500;
    z-index: 4;
    position: absolute;
    color:white ;
}
.border2 i.fa-cloud-arrow-up {
    margin: 1050px 0px 0px 500px  ;
    font-size: 100px;
    z-index: 1;
    position: absolute;
    
 }
  .border .fa-sharp.fa-solid.fa-u {
    
    margin: 880px 0px 0px 730px ;
    font-size: 180px;
    font-weight:500;
    z-index: 1;
    position: absolute;
 }
 .border .fa-sharp.fa-solid.fa-italic{
    margin: 880px 0px 0px 480px ;
    font-size: 180px;
    font-weight :600;
    z-index: 1;
    position: absolute;
 }
 .border .fa-sharp.fa-solid.fa-b{
    margin: 880px 0px 0px 250px ;
    font-size: 180px;
    font-weight:500;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-align-left{
    margin: 880px 0px 0px 1150px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-align-center{
    margin: 880px 0px 0px 1450px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-align-right{
    margin: 880px 0px 0px 1750px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-list{
    margin: 880px 0px 0px 2180px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-list-ol{
    margin: 880px 0px 0px 2500px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-image{
    margin: 880px 0px 0px 3000px ;
    font-size: 180px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-chevron-down{
    margin: 2920px 0px 0px 5413px ;
    font-size: 150px;
    z-index: 1;
    position: absolute;
 }
 .border #horisontale-line{
    width: 5px;
    height: 150px;
    background-color: #9E9C9C;
    margin: 900px 0px 0px 990px;
    z-index: 1;
    position: absolute;
 }
 .border #horisontale-line2{
    width: 5px;
    height: 150px;
    background-color: #9E9C9C;
    margin: 900px 0px 0px 2050px;
    z-index: 1;
    position: absolute;
 }
 .border #horisontale-line3{
    width: 5px;
    height: 150px;
    background-color: #9E9C9C;
    margin: 900px 0px 0px 2850px;
    z-index: 1;
    position: absolute;
 }
 .border #horisontale-line4{
    width: 5px;
    height: 190px;
    background-color: #5c5a5a;
    margin: 2910px 0px 0px 5370px;
    z-index: 1;
    position: absolute;
 }
 .border .fa-solid.fa-cloud-arrow-up{
    margin: 4487px 0px 0px 5485px ;
    font-size: 100px;
    font-weight:800;
    z-index: 2;
    position: absolute;
    color:white ;
 }

 .border1 #verticle-line{

    width: 2200px;
    height: 2px;
    margin: 100px;
    background-color: #B9B6B6;
 }
.footer{
    width: 6390px;
    height: 1500px;
    border:  4px solid #1C296C;
    background-color: #1C296C;
    z-index: 1;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.footer a{
    text-decoration: none;
    color: white;

}
.footer a:hover{ 
    color: #A9B7FF ; 
    text-decoration: underline; 
   }
.footer h1{
    font-size: 100px;
    color: white;
    margin: 400px 0px 0px 5200px;
    position: absolute;

}
.footer p{
    font-size: 80px;
    color: white;
    margin: 800px 0px 0px 5200px;
    position: absolute;
}
.footer .b{
    margin: -300px 0px 0px 350px;
    color: white;
    width: 600px;

}
