

*,
*::after,
*::before{
    box-sizing: border-box;
}
body{

  display: flex;
   flex-direction: column; 
  
  width: auto;
  
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


.btnlog{
    background:#1C296C ;
    width: 130px;
    height: 45px;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:18px ;
    color: white ;
    font-weight: 500;
  
}
.profile{
  width:50px ;
  height:50px ;
  margin-top: 10px;
  user-select: none;
}

.btnlog:hover {
    background-color: #2c40a2;
    transform: translateY(1.5px);
  }


  .wrapper{
    max-width:1500px;
    margin:0 30px ;
   /* background-color: red;    */
  
  }
  
  /* header */
 
  nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255);
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 100px;
    z-index:2; 
  
}

.nav2{
 
  width:1243px;
  height: 100px;
  top: 0;
 
}

  
nav ul{
    margin-right: 30px;
    height: 90%;
      /* background-color: blue;    */
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    
  }

  nav ul a{
    /* font-family: "Poppins", sans-serif; */
    font-weight:550;
    font-size: 20px;
    color: black;
    text-decoration:none;
  
  }

   ul a:hover{
   color: #A9B7FF ;
   text-decoration: underline;
  }
  

  .loghelp{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  .hmark{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    gap: 10px;
   }

   nav .help a{
    font-weight:550;
    font-size: 20px;
    color: black;
    text-decoration:none;
   }

  nav .help a:hover{
    color: #A9B7FF;
    text-decoration:underline;
   }

  .logo{
    width: 90px;
    height:110px ;
    user-select: none;
  }

  .logo .log{
    width: 100%;
    height:100% ;
  }
  
  .mark{
    width: 35px;
    height:35px ;
    user-select: none;
  }

  .mark .mrk{
    width: 100%;
    height:100% ;   
  }
  
  
  /* next part */
  
  .hero-section{

    width: 1200px;
    height: 600px;
    margin-top: 50px;
    margin-left:20px ;
     /* background-color: brown;  */
     user-select: none;
   
  
  }

  .hero-section .wlcmH{
    width: 100%;
    height: 100%;
  }
  
  /* Next Part  */
  .wrapper2{     /*width= 1243px*/
    max-width:1500px;
    margin:0 30px ;
    margin-top: 80px;
    height: 600px;
    /* background-color: fuchsia; */
    
    position: relative;
  } 
  .wrapper2 h1{
    margin-bottom: 100px;
    margin-left: 382px;
    height: 50px;
  }
  
 .hh {
   
   display: flex; 
    height:260px ;
    margin-top: 100px;
    /* background-color: chartreuse; */
  
    
  }
  .content{
    height: 260px;
   margin-top: 50px;
    margin-left:171.5px;
    /* background-color: blue; */
    display:flex;
    gap: 150px;
    z-index: 1;
  }
  .content4{
    background-color: #1C296C;
    width: 1100px;
    height: 150px;
    position: absolute;
    top:150px;
    left:71.5px

  }
  
   .hh .content1{
    width:210px;
    height: 250px;
    background-color:white;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    position: relative; 
    cursor: pointer;
    user-select: none;
  }

  .content1:hover{
    transform: scale(1.01);
  }


  .hh .content1 img{
    width: 100px;
    height: 100px;
     position:absolute; 
     left:  55px;
     top: 55px;
    
    
  }
 
  .hh .content1 p{
    font-weight: bold;
    font-size: 25px;
    /* width: 155px;
    height: 25px; */
     position:absolute; 
     left:  25px;
     top: 150px;
  }



  .hh .content2{
    width:210px;
    height: 250;
    background-color: rgb(165, 158, 190, 0.7);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
     position: relative; 
     cursor:pointer;
     user-select: none;
     
  }
  .content2:hover{
    transform: scale(1.01);
  }

  .hh .content2 img{
    width: 100px;
    height: 100px;
     position:absolute; 
     left:  55px;
     top: 55px;
    
    
  }
 
  .hh .content2 p{
    font-weight: bold;
    font-size: 25px;
    /* width: 155px;
    height: 25px; */
     position:absolute; 
     left:  25px;
     top: 150px;
  }

   .hh .content3{
    width:210px;
    height: 250px;
    background-color:white;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    cursor:pointer;
     position: relative; 
     user-select:none;
  }
  .content3:hover{
    transform: scale(1.01);
  }
  
  .hh .content3 img{
    width: 100px;
    height: 100px;
    position:absolute; 
    left:  55px;
    top: 55px;
    
    
  }

  .hh .content3 p{
    font-weight: bold;
    font-size: 25px;
    /* width: 155px;
    height: 25px; */
     position:absolute; 
     left:  50px;
     top: 150px;
  }

  /* .lastpart{
    display: flex;
    align-items: center;
  } */

  .Text{
    /* background-color: coral; */
    margin-top: 50px;
    width: 700px;
    height: 600px;

  }

  .leftphoto{
    margin-top: 100px;
    width: 500px;
    height: 600px;
    user-select: none;
  }
  .leftphoto img{
    width: 100%;
    height: 100%;
  }

  .rightbtn{
    display: flex;
    gap: 20px;

  }
  .rightbtn img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
  } 
  .rightbtn p{
   font-size: 18px;
   font-weight: 600;
   width: 600px;
  } 

  .Text{
    display: flex;
    flex-direction: column;
   gap: 0px;
  }
  .titr{
    display: flex;
    align-items: center;
    justify-content:first baseline;
    
  }
  .Text .txt{
    margin-top: -50px;
    margin-left: 80px;
  }

 .arrow{
  margin-bottom: 150px;
  user-select: none;
 }

 .Text .t1{
  /* background-color: blue; */
 
  height: 100px;
  margin-bottom: 80px;
  margin-left: 30px;
  font-size: 33px;
  font-weight: 600;

 } 
 .lastpart{
  display: flex;
  gap: 50px;
  margin-top: -100px;
  align-items: center;
  justify-content: center;
 }
  
 /* Footer */
 footer{
  /* display: flex;
  align-items: flex-start;
  justify-content: baseline; */
  background-color: #1C296C;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0;
  height: 350px;

 }
 footer ul{
  list-style: none;
  
  
 }
 footer ul a{
 text-decoration: none;
 color:white;
  
 }

 /* ul a :hover{
  color: #2c40a2;
 } */


 footer ul li{
  margin: 16px 0;
 }

 footer .links-contener{
  display: flex;
  margin-left:300px ;
  margin-top: -180px; 
  /* background-color: brown; */
  /* display: grid; */
  gap: 50px;
  /* grid-template-columns: 3fr 3fr 3fr 2fr; */
 }

 footer .logoF{
  width: 150px;
  height:170px;
  /* background-color: aquamarine; */
  margin-left: 80px;
  margin-top: 80px;
  user-select: none;
 }
 footer .logoF img{
  width: 100%;
  height:100% ;

 }
