*{
    font-family: "Montserrat", sans-serif;
}

body{
    
    margin: 0;
    padding: 0;
    
}


.header{
    height: 2000px;
    width: auto;
    background-color: #A9B7FF;
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.header nav{ 
     
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff;
    position: fixed;  
    top: 0; 
    right: 0; 
    left: 0; 
    width:100%; 
    height: 400px; 
    z-index:2;  
   
}


.nav2{ 
  
    width:1243px; 
    height: 100px; 
    top: 0; 
    
  } 
   
     
  nav ul{ 
      margin-right: 30px; 
      height: 90%; 
        /* background-color: blue;    */ 
      display: flex; 
      align-items: center; 
      gap: 60px; 
      list-style: none; 
       
    } 
   
    nav ul a{ 
      /* font-family: "Poppins", sans-serif; */ 
      font-weight:550; 
      font-size: 100px; 
      color: black; 
      text-decoration:none; 
     
    } 
   
     ul a:hover{ 
     color: #A9B7FF ; 
     text-decoration: underline; 
    } 
     
   
    .loghelp{ 
      margin-left: 30px; 
      display: flex; 
      justify-content: space-between; 
      gap: 60px; 
    } 
   
    .hmark{ 
      display: flex; 
      justify-content: space-between; 
      gap: 60px; 
      align-items: center; 
      gap: 10px; 
     } 
   
     nav .help a{ 
      font-weight:550; 
      font-size: 20px; 
      color: black; 
      text-decoration:none; 
     } 
   
    nav .help a:hover{ 
      color: #A9B7FF; 
      text-decoration:underline; 
     } 
   
    .Logo{ 
      width: 50px; 
      height:90px ; 
      user-select: none; 
    } 
   
    .Logo .log{ 
      width: 100%; 
      height:100% ; 
    } 
     
    .mark{ 
      width: 35px; 
      height:35px ; 
      user-select: none; 
    } 
   
    .mark .mrk{ 
      width: 100%; 
      height:100% ;    
    }

    
.header img{
    margin: 100px 0px 0px 200px;
    align-self:  flex-start;
    margin-top: -80px;
}

.header p{
   font-size: 100px;
   margin: 120px 0px 0px 1800px;
}

.header input {
    background: #1C296C;
    height: 200px;
    margin: 81px 0px 0px 400px;
    font-size: 100px;
    border: #1C296C;
    color: white;
    border-radius: 100px;
    padding: 50px 200px;
}

.header p.c {
    margin: 0px 0px 0px 2950px;
    width: 30000px;
    
}

.header img.ss{
    
    width: 3000px;
    margin: 630px 0px 0px 3100px;
    position: absolute;
}

.header img.dd{
    width: 2000px;
    margin: 900px 0px 0px 3600px;
    z-index: 1;
    position: absolute;
}

.header img.b{
    margin: 100px 0px 0px 200px;
}
.header p.title{
    font-size: 250px;
    font-weight: 600;
    margin: 900px 0px 0px 150px ;
    color:#1C296C;
    text-shadow: 20px 20px 40px ;
    position: absolute;
}
.header p.title1{
    font-size: 250px;
    font-weight: 600;
    margin: 1200px 0px 0px 150px ;
    color:#1C296C;
    text-shadow: 20px 20px 40px ;
    position: absolute;
}

.k{
    width: 600px;
    height: 250px;
    margin: 250px 0px 0px 2750px;
    background: #1C296C;
    color: white;
    border: #1C296C;
    font-size: 100px;
    font-weight: 300;
    padding: 0px 0px 0px 70px;
} 

.ka h1{
    font-size: 300px;
    margin: 200px 0px 0px 200px;
    color: #333333;
    
}

.border{
    width: 6000px;
    height: 6700px;
    border: 2px solid #B5B0B0;
    margin: 300px 0px 800px 200px;
    box-shadow : 3px 2px 50px gray;
    border-radius: 8px;
}
.border .a{
    width: 5600px;
    height: 200px;
    border-radius:10px;
    margin: 200px 0px 0px 200px;
    border: 8px solid #A7A4A4;
    font-size: 60px;
    padding: 0px 0px 0px 200px;
}
.border .b{
    border: 8px solid #A7A4A4;
    width: 5600px ;
    height: 150px;
    margin: 100px 0px 0px 200px;
    border-radius: 10px;
}
.border .b .c{
    font-size: 100px;
    position: absolute;
    margin: 10px 0px 0px 200px;

}
.border .b .d{
    font-size: 100px;
    position: absolute;
    margin: 10px 0px 0px 2600px;
}
.border .b .e{
    font-size: 100px;
    position: absolute;
    margin: 10px 0px 0px 5000px;
}
.border .border1{
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 300px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border2 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 1000px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border3 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 1700px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border4 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 2400px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border5 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 3100px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border6 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 3800px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border7 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 4500px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border .border8 {
    border: 8px solid #D9D9D9;
    width: 5600px;
    height: 450px;
    margin: 5300px 0px 0px 200px;
    border-radius: 40px;
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
.border  .aa{
    width: 1400px;
    height: 100px;
    border: 8px solid #C5C5C5;
    background-color: #C5C5C5;
    border-radius: 50px;
    margin: 170px ;
}
.border  .bb{
    width: 1000px;
    height: 100px;
    border: 8px solid #C5C5C5;
    background-color: #C5C5C5;
    border-radius: 50px;
    margin: 170px 0px 0px 800px ;
    
}
.border  .cc{
    width: 500px;
    height: 100px;
    border: 8px solid #C5C5C5;
    background-color: #C5C5C5;
    border-radius: 50px;
    margin: 170px 0px 0px 1200px ;
    
}
.q{
    width: 1000px;
    height: 300px ;
    border: 4px solid #1C296C;
    margin: 5300px 0px 0px 2450px ;
    background-color: #1C296C;
    border-radius: 20px;
    font-size: 100px;
    color: white;
}
.footer{
    width: 6390px;
    height: 1500px;
    border:  4px solid #1C296C;
    background-color: #1C296C;
    z-index: 1;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.footer h1{
    font-size: 100px;
    color: white;
    margin: 400px 0px 0px 5200px;
    position: absolute;

}
.footer p{
    font-size: 80px;
    color: white;
    margin: 800px 0px 0px 5200px;
    position: absolute;
}
.footer .b{
    margin: -300px 0px 0px 350px;
    color: white;
    width: 600px;

}